{% extends "base.html" %}
{% load djangular_tags %}

{% block container %}
	<h1>Subscribe Me</h1>
	<div class="row">
		<div class="span8" ng-controller="MyFormCtrl">
			{% block subscribe_me_form %}
			<form name="{{ form.name }}" novalidate>
				{{ form }}
				<div>
					<button type="submit" class="btn" ng-disabled="{{ form.name }}.$invalid" ng-click="submit()">Subscribe</button>
				</div>
			</form>
			{% endblock subscribe_me_form %}
		</div>
	</div>
{% endblock container %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript">
	angular.module('djangular-demo', [])
		.run(function($http) {
    		$http.defaults.headers.post['X-CSRFToken'] = "{% csrf_value %}";
		})
		.config(function($httpProvider) {
		    $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
		})
		.controller('MyFormCtrl', function($scope, $http) {
	    	$scope.submit = function() {
	        	$http.post('/model_form/', $scope.subscribe_data)
			        .success(function(out_data) {
			            // do something
			        });
	    }
	});
	</script>
{% endblock scripts %}
